<div class="collapse navbar-collapse" id="navbarResponsive" >
    <ul class="navbar-nav ms-auto py-4 py-lg-0">
        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'blog:home' %}"style="color:rgb(240,194,142)">خانه</a></li>
            {% for cat in category%}
         <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="#"style="color:rgb(240,194,142)">{{ cat.title }}</a></li>
            {% endfor %}
    </ul>
</div>