/* @font-face {
    font-family: IRANSans;
    src: url('IRANSans.ttf');
} */

@font-face {
    font-family: IRANSans;
    src: url('font/IRANSans.ttf');
    /* src: url('font/Sahel.eot?#iefix') format('embedded-opentype'), */
         /* url('font/Sahel.woff2') format('woff2'), */
         /* url('font/Sahel.woff') format('woff'), */
         /* url('font/Sahel.ttf') format('truetype'); */
    font-weight: normal;
  }
     
body{
    direction: rtl;
    text-align: right;
    font-family: "IRANSans";
    font-size: 14px;

}
.navbar-nav{
    margin-left: initial;
    margin-right: auto;
}
.post-meta{
    text-align: left;
}
.pager-botton{
    float:left !important;

}
header.masthead .site-heading h1 {
    font-size: 20px;
}