{% extends 'blog/base.html' %}
{% block titie %} | {{article.titie}} {% endblock titie %}
{% block main %}
{% load static %}

     <!-- Page Header-->
     <header class="masthead" style="background-image: url('{{ article.thumbnail.url }}');border-radius:0px 0px 20% 20%;">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>{{article.titie}}</h1>
                        <time>{{article.jpublish}}</time>
                        <span class="subheading">
                           
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>
       <!-- Post Content-->
       <article class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7" style = "color:rgb(240,194,142);text-align: justify">
                    {{article.description | linebreaks}}
                </div>
                
            </div>
        </div>
    </article>
{% endblock main %}


