   
   {% extends 'blog/base.html' %}
   {% block main %}
{% load static %}
        <!-- Page Header-->
        {% comment %} <div style="background-color:rgb(51,53,74)"> {% endcomment %}
        <header class="masthead" style="background-image: url('{% static "blog/assets/img/home-bg.jpg" %}');
                                border-radius:0px 0px 20% 20%">
            <div class="container position-relative px-4 px-lg-5" >
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading" >
                            <h1>فرهاد کریم زاده</h1>
                            {% comment %} <span class="subheading">A Blog Theme by Start Bootstrap</span> {% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
        </header>
        {% comment %} </div> {% endcomment %}
   <!-- Main Content-->
   <div class="container px-4 px-lg-5" >
    <div class="row gx-4 gx-lg-5 justify-content-center" >
        <div class="col-md-10 col-lg-8 col-xl-7" >

            {% for article in articles %}

            <!-- Post preview-->
            <div class="post-preview" style="background-color: rgb(55,51,88);
                                             border-radius: 50% 20% / 10% 40%;
                                             padding:1px 50px 5px 50px; 
                                             margin:20px 0px 10px 0px ;
                                             box-shadow: 5px 5px 15px;
                                            
                                             justify-content: space-between">
                <a href="{% url 'blog:detial' article.slug %}">
                    <h2 class="post-title" style = "color: rgb(65,123,233);font-size:25px;font-family:IRANSans">{{ article.titie }}</h2>
                    <h4 class="post-subtitle" style = "color: rgb(144,175,232)">{{ article.description | truncatewords:10 }}</h4>
                </a>
                  
                <p class="post-meta" style = "color: rgb(107,114,218)">
                    نوشته ی
                    <span> فرهاد</span>
                {{article.jpublish}}
                
                </p>
                <div  style = "margin-bottom:20px ;  font-size:15px">
                    <span class="badge rounded-pill bg-secondary text-left">
                         {%for cat in article.category_published%}
                         {% comment %} "{% url 'blog:category' cat.slug  %}" {% endcomment %}
                           <a href="{% url 'blog:category' cat.slug %}">{{cat.title}}</a>
                         {% endfor%}
                    </span>
                </div>         
           
      
            </div>
           
            <!-- Divider-->
            {% comment %} <hr class="my-4" /> {% endcomment %}
 
            {% endfor %} 
            <!-- Pager-->
           {%if articles.has_previous%}
           

           <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="{% url 'blog:home'%}?p={{articles.previous_page_number}}"  style = "background-color: rgb(240,194,142);
            color:rgb(55,51,88);
            border-radius: 50% 20% / 10% 40% ;
            box-shadow: 5px 5px 5px ;
            margin:20px 0px 10px 0px ">پستهای قدیمی  &larr;</a></div>  

           {%endif%}
           {%if articles.has_next%}
           

           <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="{% url 'blog:home'%}?p={{articles.next_page_number}}"  style = "background-color: rgb(240,194,142);
            color:rgb(55,51,88);
            border-radius: 50% 20% / 10% 40% ;
            box-shadow: 5px 5px 5px ;
            margin:20px 0px 10px 0px ">پستهای جدید  &rarr;</a></div>  

           {%endif%}
      
      
                                                                                                                                                                                                                                   </div>
    </div>
</div>

{% endblock main %}